---
title: "🍊💊.dev"
layout: splash
date: 2023-01-09T01:53:00-05:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: "/assets/images/overlay.png"
  actions:
    - label: "Join orangepill.dev relay (USA)"
      url: "https://relay.orangepill.dev"
    - label: "Join plebchain.org Relay (Canada)"
      url: "https://nostr.plebchain.org"
  #caption: ""
excerpt: "Join our paid Nostr public relays located in Virginia, USA and Toronto, Canada for a small fee."
#intro:
  #- excerpt: ''
feature_row:
  - image_path: "/assets/images/nostr.png"
    alt: ""
    title: "Nostr Guides"
    excerpt: "FAQ and helpful guides to learn about Nostr."
    url: "/categories/#nostr-guides"
    btn_label: "View Guides"
    btn_class: "btn--primary"
  - image_path: "/assets/images/bitcoin.png"
    alt: ""
    title: "Orange Pill Guides"
    excerpt: "Take the 🍊💊 and learn from Bitcoin and Lightning guides."
    url: "/categories/#bitcoin-guides"
    btn_label: "View Guides"
    btn_class: "btn--primary"
  - image_path: "/assets/images/nip-05.png"
    alt: ""
    title: "Nostr NIP-05 Identifier"
    excerpt: "Apply for a free NIP-05 Identifier with us to get your own **name@orangepill.dev**"
    url: "/services/nostr-public-relay-and-nip05-identification-services"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row" %}
